.Nav-Bar{
    background-color: black;
    color:#00cbf3;
}

.Nav-Bar a{
    color:#00cbf3;
}

.Nav-Bar a:visited{
    color:#00cbf3;
}
.categoriasBoton{
    background-color: black;
    color:#00cbf3;
}

.categoriasBoton a{
    color:#00cbf3;
}
.categoriasBoton a:visited{
    color:#00cbf3;
}