.ButtonDetalle{
    border-radius: 60px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color:black;
}

.EstructuraGral{
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}